.header
{
    margin-top: 30px;
    background-color: white;
}
.logo
{
    width: 115px;
    height: 28px;
    position: absolute;
    cursor: pointer;
    margin-left: 40px;
}
.navigation
{
    text-align: right;
}
.link
{
    text-decoration: none;
    font-family: "Roboto Thin", sans-serif;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
li
{
    display: inline;
}
.list li
{
    margin-left: 30px;
}
li button
{
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 40px;
    background-color: inherit;
    cursor: pointer;
    font: 500 16px Roboto, sans-serif;
    width: 106px;
    height: 43px;
}

.img-team
{
    margin: 170px auto 0 auto;
    text-align: center;

}
.img-team img
{
    width: 397px;
    height: 300px;
}
h1
{
    text-align: center;
    font-family: "Roboto Thin", sans-serif;
    font-weight: bold;
    font-size: 64px;
    margin-top: 61px;
}
.about-us
{
    text-align: center;
    font-family: "Roboto Thin", sans-serif ;
    font-size: 24px;
    line-height: 147.3%;
    margin: 30px auto 0 auto;
    max-width: 925px;
    padding: 0 20px;
}
h2
{
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    margin: 60px auto 0 auto;

}
.contacts_head
{
    padding-top: 80px;
}
.section_contacts
{
    margin-top: 80px;
    background-color: #f7f9fb;
}
.contacts
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;

}
.contacts_type
{
    height: 56px;
    width: 264px;
    margin-bottom: 20px;
    text-align: center;
}
.separator
{
    width: 1px;
    height: 62px;
    margin: 0 68px;
    background: #c8c8cf;
}
.contacts-method
{
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    color: #4F4F4F;
    margin: 2px 0;
}
.contacts_value a
{
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 147.3%;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 3px 0;
}
.section_team
{
    display: flex;
    flex-direction: column;
}
.team
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 60px;
    max-width: 1110px;
}
.team div
{
    height: 260px;
    margin: 38px 30px;
    text-align: center;
    width: 196px;
}
.team_photo
{
    width: 180px;
    height: 180px;
}

.team_member
{
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 147.3%;
    text-align: center;
    color: #000000;
    margin: 22px 0 8px 0;
}
.team_role
{
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    text-align: center;
    color: #828282;
    margin: 2px 0;
}
footer
{
    padding-right: 19px;
    height: 124px;
    background-color: #3f3d56;
}
.footer_cop
{
    padding-left: 40px;
    padding-top: 53px;
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer_item
{
    cursor: pointer;
    margin-right: 19px;

}
.icon
{
   margin-top: -20px;
}
